body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 30px;
}

p, ul {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.navbar-nav .nav-link {
    cursor: pointer;
}
